* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Cambria", sans-serif;
}

/*---------------------
**----- SECTIONS ------
---------------------*/

#top {
  margin: 0 auto;
  width: 85vw;
  border-bottom: 2px solid black;
}

#middle {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom {
  margin: 1rem auto 0 auto;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-top: 2px solid black;
  background-color: orange;
  font-size: 2.5vmin;
}

/*-------------------
**----- HEADER ------
-------------------*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin: 2.5vmin 0 1.5vmin 0;
  font-size: 5.5vmin;
  font-weight: 700;
}

/*------------------------
**----- DESCRPITION ------
------------------------*/

.p-head {
  font-size: 2.5vmin;
}

.p {
  margin-bottom: 2.5vmin;
}

.p-bold {
  font-size: 3vmin;
  font-weight: 700;
}

.on,
.off {
  font-weight: 700;
  padding: 0.25vmin 0.75vmin;
  color: white;
  border: 1px solid black;
}

.on {
  background-color: seagreen;
}

.off {
  background-color: red;
}

/*--------------------
**----- BUTTONS ------
--------------------*/

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.clickbtn {
  width: 12vmax;
  font-size: 2.5vmin;
  padding: 1vmin;
  margin: 1rem 1rem 0 0;
}

.clickbtn:hover {
  cursor: pointer;
  background-color: lightgray;
}

/*--------------------
**----- COUNTER ------
--------------------*/

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin 0;
}

.h2-count {
  margin-right: 3vmin;
  font-size: 3.5vmin;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  min-width: 7vmax;
  height: 8vmin;
  border: 2px solid black;
}
/*---------------------------
**----- LIGHT SWITCHES ------
---------------------------*/

.light-switch-container {
  margin: 4vmin 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.light-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4vmin;
  font-weight: 700;
  height: 6.5vw;
  width: 6.5vw;
  margin: 1.25vw;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
}
