* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Cambria", sans-serif;
}

/*---------------------
**----- SECTIONS ------
---------------------*/

#top {
  margin: 0 auto;
  padding: 3vmin;
  width: 50vw;
}

#middle {
  margin: 0 auto;
  padding: 0 2vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  background-color: orange;
  font-size: 2.5vmin;
  position: fixed;
  width: 100%;
  height: 5vmin;
  margin-top: calc(100vh - 5vmin);
}

/*-------------------
**----- HEADER ------
-------------------*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  margin: 2.5vmin 0 1.5vmin 0;
  font-size: 5.5vmin;
  font-weight: 700;
}

/*------------------------
**----- DESCRPITION ------
------------------------*/

.p-head {
  font-size: 2.5vmin;
}

.p {
  margin-bottom: 2.5vmin;
}

.p-bold {
  font-size: 3vmin;
  font-weight: 700;
}

.on,
.off {
  font-weight: 700;
  padding: 0.25vmin 0.75vmin;
  color: white;
  border: 1px solid black;
}

.on {
  background-color: seagreen;
}

.off {
  background-color: red;
}

/*--------------------
**----- BUTTONS ------
--------------------*/

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.click-btn {
  width: 12vmax;
  font-size: 2.5vmin;
  padding: 1vmin;
  margin: 2.5vmin 2.5vmin 0 0;
}

.click-btn:hover {
  cursor: pointer;
  background-color: lightgray;
}

.refresh-btn {
  font-weight: 700;
}

/*--------------------
**----- COUNTER ------
--------------------*/

.counterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin 0;
}

.h2-count {
  font-size: 3.5vmin;
  margin-right: 2.5vmin;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  min-width: 7vmax;
  height: 8vmin;
  margin-right: 2.5vmin;
  border: 2px solid black;
}

.toggle {
  width: 20vmax;
  font-size: 2.5vmin;
  padding: 1vmin;
  margin: 2.5vmin 2.5vmin 0 0;
}

.toggle:hover {
  cursor: pointer;
  background-color: lightgray;
}

/*---------------------------
**----- LIGHT SWITCHES ------
---------------------------*/

.light-switch-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.light-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5vw;
  font-weight: 700;
  height: 3.5vw;
  width: 3.5vw;
  margin: 0.35vw;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
}

.light-switch-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.75vw;
  font-weight: 700;
  height: 1.9vw;
  width: 1.9vw;
  margin: 0.1vw 0.15vw;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
}

/*--------------------------
**----- MEDIA QUERIES ------
--------------------------*/

@media screen and (max-aspect-ratio: 1/1) {
  body {
    flex-direction: column;
  }
}
